---
import ImageText from '../sections/ImageText.astro';
import Layout from '../layouts/Layout.astro';
import bg1 from '../assets/images/bg-1.webp';
import bg2 from '../assets/images/bg-2.webp';
import SurvivorMiamiII from '../assets/images/SurvivorMiamiII.avif';
import SurvivorGrandRapids from '../assets/images/SurvivorGrand Rapids.avif';
import SurvivorGrandRapids11 from '../assets/images/SurvivorGrandRapids11.avif';
import SurvivorCincinnati from '../assets/images/survivor cincinnati.avif';
---
<Layout title="Day Longs">
	<section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Survivor: Dearborn & GR</h2>
            <h4 class="text-[34px] text-center leading-tight font-survivor text-[#e3be05]">Present:</h4>
            <h6 class="text-[20px] text-center leading-tight font-museo">Drinking Survivor</h6>
			<p class="text-center font-fredericka">What's better than three day filmed Survivors? One day drinking Survivors that aren't filmed... probably for the best.</p>
            <p class="text-center font-fredericka">Originating in Oxford, OH, Drinking Survivor quickly became a phenomenon in the Survivor: Dearborn and Grand Rapids community. Alumni were mixed with newbies to play a quick paced one day game of Survivor complete with boozy challenges leading to messy vote outs. Only the best to manage their booze and banter claimed the title and cemented themselves in Survivor lore.</p>
            <p class="text-center font-fredericka">This is their story (from what we remember)</p>
		</div>
	</section>
    <ImageText
        title="Survivor: Miami"
        subtitle="The Lost Season"
        bgImage={bg1}
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The first season of our Drinking Version is unfortunately lost. However, its legacy remains.</p>
            <p class="font-chelsea text-[#e3be05]">14 players gathered - some alumni with some new blood sprinkled in. It was truly a rough draft as little to no photos or videos were captured.</p>
            <p class="font-chelsea text-[#e3be05]">However, a winner was crowned. Check out what we DO have right here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Miami II"
        subtitle="The Alcoholic Outback"
        bgImage={bg2}
        image={SurvivorMiamiII}
        
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The second outing of Day Drinking Survivor upped the level of competition. With a cast of returning players and a plethora of newbies, this season was the juiciest yet.</p>
            <p class="font-chelsea text-[#e3be05]">With big plays and belligerent blindsides, the castaways battled hard to stumble their way to the end. Check out the cast here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Grand Rapids"
        subtitle="Edge of Intoxication"
        bgImage={bg1}
        image={SurvivorGrandRapids}
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">For the first time, the game of Survivor came to the West Side of the state. For the first time since Heroes vs Villains, a brand new batch of castaways took on the game. Players learned how to adapt to the quick paced game while balancing their game.</p>
            <p class="font-chelsea text-[#e3be05]">Some members became Fresh Meat so check out their start right here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Grand Rapids"
        subtitle="Jägerbombed"
        bgImage={bg2}
        image={SurvivorGrandRapids11}
        
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The game returned to Grand Rapids for one day only with a mixed cast of returning players and newbies. The game was heated - not just by BAC - but also a new level of social and strategic prowess Grand Rapids had never seen before.</p>
            <p class="font-chelsea text-[#e3be05]">Check out the castaways and see some familiar faces who made their debut right here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Cincinnati"
        subtitle="Medicinal Warfare"
        bgImage={bg1}
        image={SurvivorCincinnati}
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The game returned to the state down south - this time mixing a group of med students against some seasoned veterans.</p>
            <p class="font-chelsea text-[#e3be05]">The most recent iteration of Day Drinking Survivor was a bloodbath leaving only the slickest castaways in the finals. Check out the recap right here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
</Layout>
