---
import Image from '../sections/Image.astro';
import Layout from '../layouts/Layout.astro';
import season6Group from '../assets/images/season-6-group.avif';
import PageHeader from '../sections/PageHeader.astro';

const title = 'Season 6';
const subtitle = 'Bad Blood';
const button = {
	text: 'Check out Season 6',
	url: 'https://www.youtube.com/watch?v=6l35M7RvQNY&t=2s'
};
---
<Layout title={`${title} - ${subtitle}`}>
	<PageHeader title={title} subtitle={subtitle} button={button}>
		<p class="text-center font-fredericka">
			After Fresh Meat's triumphant return, a new batch of castaways signed up for their chance at the game. Players from across the United States made their way back to the backyard of summer 2023 for a game like never before.
		</p>
	</PageHeader>
	<Image image={season6Group} />
</Layout>
