---
import { Image as AstroImage } from 'astro:assets';
import season6Logo from '../assets/images/season-6/logo.avif';

interface Props {
    navigation: { label: string, link: string, items: { label: string, link: string }[] }[];
}

const { navigation } = Astro.props;

const currentRoute = Astro.url.pathname;

function textColor(route: string) {
    return currentRoute === route ? 'text-white' : 'text-[#e3be05]';
}
---
<div class="flex flex-col items-center">
    <!-- Logo Section -->
    <div class="py-2">
        <AstroImage src={season6Logo} alt="Logo" class="h-16" />
    </div>
    
    <!-- Navigation Bar -->
    <div class="w-full bg-black text-white">
        <div class="container mx-auto flex flex-col items-center">
            <!-- Navigation Links -->
            <ul class="flex gap-4 relative">
                {navigation.map((item) => (
                    <li class="group relative py-4">
                        <a href={`/survivor-gr${item.link}`} class={`hover:text-white font-survivor ${textColor(`/survivor-gr${item.link}`)}`} title={item.label}>{item.label}</a>
                        {!!item.items?.length && (
                            <ul class="absolute left-1/2 transform -translate-x-1/2 mt-2 hidden group-hover:block bg-black space-y-2 p-2 w-max">
                                {item.items.map((subItem) => (
                                    <li><a href={`/survivor-gr${subItem.link}`} class={`hover:text-white font-survivor ${textColor(`/survivor-gr${subItem.link}`)}`} title={subItem.label}>{subItem.label}</a></li>
                                ))}
                            </ul>
                        )}
                    </li>
                ))}
            </ul>
        </div>
    </div>
</div>
